nav {
  background-color: #ffe4b9;

  ul {
    list-style: none;

    li {
      float: left;
      display: block;
      width: 80px;

      a {
        text-decoration: none;

        &:hover {
          border-bottom: 1px dotted red;
        }
      }
    }
  }
}

section {
  border: 1px solid #999;

  &.main {
    padding: 20px;
  }
}
